.App {
  text-align: center;
  max-height: max-content;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#070f22, #19124a, #2a1572, #3c199a);
  color: #F8F9FA;
}
