.Todo div {
    background-color: #423a6f;
    color: #F8F9FA;
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 2.5px;
}

.Todo {
    list-style-type: none;
    width: 90%;
    margin-left: 5%;
}

.Todo div button, div {
    cursor: pointer;
}

.Todo div span {
    margin: 5px 5px 5px 10px;
    line-break: normal;
    white-space: normal;
}

.trashcan {
    padding: 10px;
}

.pencil {
    padding: 10px 0px 10px 10px;
}

#descEdt, #descEdt:focus {
    background-color: #440794;
    border: none;
    width: 250px;
    height: 40px;
    outline:none;
    color: #F8F9FA;
    margin: 5px;
}

.done {
    text-decoration: line-through;
}

@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   
